<!DOCTYPE html>
<html lang="de">
<head>
    <title>Fahrkamerad - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src = "images/logo_nav.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="kilometer.html">Kilometerstand</a></li>
                <li><a href="ersparnisse.html">Ersparnisse</a></li>
                <li><a href="kaufen.html">Fahrräder kaufen</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <img class="center-block" src ="images/logo.png";>
    <p>Die Seite für glorreiche Fahrrad-Gains</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Dokumentiere deinen <br> Kilometerstand!</h3>
            <p>Wenn Fahrradfahren deine Leidenschaft ist, es wichtig, deinen Kilometerstand beim Fahrradfahrradfahren zu dokumentieren, um dich weiter zu pushen und deine Verbesserungen ganz klar verfolgen zu können.</p>
            <p>Wir bieten dir dies ohne Probleme an und stellen zusätzlich noch Statistiken zu deinen Werten bereit, damit du deinen Fortschritt und Leistungen besser beobachten kannst</p>
        </div>
        <div class="col-sm-4">
            <h3>Was du mit deinen gefahrenen Kilometer bewirkst</h3>
            <p>Fahrradfahren hat einen großen Vorteil gegenüber den meisten anderen Verkehrsmitteln: Sie sind umweltfreundlich und belasten nicht die Umwelt mit schädlichem CO2.</p>
            <p>Diese Webseite bietet dir einen CO2-Rechner an, durch den du ganz genau verfolgen kannst, wieviel du für die Umwelt bereits geleistet hast.</p>
        </div>
        <div class="col-sm-4">
            <h3>Trete mit anderen Fahrradfahrern in Kontakt!</h3>
            <p>Die Leidenschaft Fahrradfahren wird von vielen anderen Menschen ebenfalls mit hoher Begeisterung ausgeführt.</p>
            <p>Trete mit diesen in Kontakt, geht gemeinsam auf Tour oder vergleicht euren Kilometerstand!</p>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-5">
            <h3>Finde dein perfektes Fahrrad!</h3>
            <p>Bei Fahrräder gibt es ein sehr umfangreiches Angebot sowie verschiedene Preisklassen. Von wenigen Hunderten bis mehreren Tausender ist alles dabei. Doch welches ist das Richtige?</p>
            <p>Dies berechnet dir automatisch unsere Webseite und schlägt dir dabei mehrere vor, die du dann bequem übers Internet kaufen kannst.</p>
        </div>
    </div>
</div>

<footer class="jumbotron text-center">
    <p><font size="3">© by Bahl & Kainz. All rights reserved.</font></p>
    <p><font size="3"><a href="mailto:sebastian.kainz@student.htldornbirn.at">Contact us</a></font></p>
</footer>

</body>
</html>
